@{
    ViewBag.Title = "Home Page";
}

<div class="row my-5 mx-4 g-3 align-items-center">
    <div class="col-4">
        <div class="w-75 mx-auto rounded-5 overflow-hidden background_div_home p-3" id="storia">
            <p class="display-6 text-center m-0">La nostra</p>
            <p class="display-6 text-center">Storia</p>
            <img class="img-fluid rounded-4" alt="sfondo storia" src="~/ImmaginiProdotti/Pizzeria_Storia.jpg" />
        </div>
    </div>
    <div class="col-4">
        <div class="rounded-5 overflow-hidden mx-auto">
            <img class="img-fluid" alt="logo pizzeria in forno" src="~/ImmaginiProdotti/Pizzeria_Logo.png" />
        </div>
    </div>
    <div class="col-4">
        <div class="w-75 mx-auto rounded-5 overflow-hidden background_div_home p-3" id="menù">
            <p class="display-6 text-center m-0">I nostri</p>
            <p class="display-6 text-center">Prodotti</p>
            <img class="img-fluid rounded-4" alt="sfondo prodotti" src="~/ImmaginiProdotti/Pizza_Burrata.jpeg" />
        </div>
    </div>
</div>

@if (TempData.ContainsKey("Info"))
{
    <div class="w-75 mx-auto alert alert-personalized rounded-4 fs-4 fw-lighter text-center">@TempData["Info"]</div>
}

<script>
    document.getElementById("storia").onclick = function () {
        window.location.href = '@Url.Action("Storia", "Home")'; // Modifica con i tuoi valori
    };

    document.getElementById("menù").onclick = function () {
        window.location.href = '@Url.Action("Index", "Menù")'; // Modifica con i tuoi valori
    };
</script>