@{
    ViewBag.Title = "Home Page";
}

<div class="bg-primary bg-opacity-10 border p-5 rounded-5 w-75 my-5 mx-auto">
    <h1 class="display-3">Benvenuti alla pizzeria "In Forno"</h1>
    <p class="fs-4 fw-lighter border-top border-2 mt-4 pt-3">inforniamo pizze dal 1952</p>
</div>

<div class="text-center">
    @Html.ActionLink("Vai al Menù", "Index", "Menù", new { area = "" }, new { @class = "btn btn-primary fs-4 rounded-pill py-3 px-5" })
</div>

@if (User.IsInRole("Admin"))
{
    <div class="text-center mt-4">
        @Html.ActionLink("Vai al BackOffice", "Index", "BackOffice", new { area = "" }, new { @class = "btn btn-primary fs-4 rounded-pill py-3 px-5" })
    </div>
}