
@{
    ViewBag.Title = "Storia";
}

<h3 class="display-5 ps-5 my-4">La nostra Storia:</h3>

<div class="row px-4 align-items-center">
    <div class="col-10 offset-1 py-2">
        <p class="m-0">
            Nel cuore della vivace città di Napoli, nel 1952, sorse un'umile pizzeria chiamata "In Forno", fondata con amore e passione dalla famiglia Bongio. La piccola pizzeria aveva un solo obiettivo: servire autentiche e deliziose pizze napoletane, mantenendo vive le tradizioni culinarie della città.
        </p>
    </div>
</div>
<div class="row px-4 align-items-center">
    <div class="col-2">
        <img class="img-fluid rounded-2 border border-dark" alt="immagine storia" src="~/ImmaginiProdotti/Pizza_Storia.jpg" />
    </div>
    <div class="col-10 py-2">
        <p>
            Guidata dal patriarca della famiglia, Vincenzo Bongio, la pizzeria divenne ben presto un punto di riferimento per gli amanti della vera pizza napoletana. La reputazione di "In Forno" crebbe rapidamente, grazie alla qualità impeccabile delle pizze e alla calorosa accoglienza riservata agli ospiti.
        </p>
        <p class="m-0">
            La filosofia della pizzeria era semplice: utilizzare solo ingredienti freschi e di alta qualità, seguendo fedelmente le antiche ricette tramandate da generazioni. La pasta, preparata con cura giornalmente, veniva stesa a mano e condita con pomodori freschi, mozzarella di bufala, basilico profumato e olio extravergine d'oliva.
        </p>
    </div>
</div>
<div class="row px-4 align-items-center">
    <div class="col-10 offset-1 py-2">
        <p class="m-0">
            Nonostante la crescente popolarità, "In Forno" mantenne sempre il suo carattere familiare e accogliente. I clienti erano accolti con sorrisi calorosi e trattati come membri della famiglia. La pizzeria diventò un luogo di ritrovo per famiglie, amici e viaggiatori provenienti da ogni parte del mondo.
        </p>
    </div>
</div>
<div class="row px-4 align-items-center">
    <div class="col-10 py-2">
        <p>
            Negli anni, "In Forno" si trasformò da una modesta pizzeria di quartiere in un'icona culinaria di Napoli. Le pareti della piccola trattoria erano adornate da fotografie della famiglia Bongio e dei loro clienti più fedeli, testimonianza del legame speciale che si era creato nel corso degli oltre 70 anni di attività.
        </p>
        <p class="m-0">
            Nonostante le sfide e le difficoltà, la famiglia Bongio mantenne saldo il proprio impegno verso la tradizione e la qualità. Le ricette segrete passarono di generazione in generazione, assicurando che ogni pizza servita a "In Forno" fosse un'esperienza unica e indimenticabile per tutti i palati.
        </p>
    </div>
    <div class="col-2">
        <img class="img-fluid rounded-2 border border-dark" alt="immagine storia" src="~/ImmaginiProdotti/Forno_Storia.jpg" />
    </div>
</div>
<div class="row px-4 align-items-center">
    <div class="col-10 offset-1 py-2">
        <p class="m-0">
            Oggi, "In Forno" continua a prosperare come una delle pizzerie più rinomate di Napoli, guidata con orgoglio dai discendenti della famiglia Bongio. La loro dedizione alla perfezione e alla tradizione della pizza napoletana è testimone di un legame indissolubile con la storia e la cultura di questa affascinante città.
        </p>
    </div>
</div>
</div>

