/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.background_principale {
    background-image: url("/ImmaginiProdotti/Sfondo_Pizzeria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main_container {
    padding: 20px;
    border-radius: 20px;
    background-color: #CCCCACE0;
}

.background_div_home {
    background-color: #FFFFDD;
    border: 1px solid #DDDDBB;
    transition: all linear 0.2s;
    cursor:pointer;
}

.background_div_home:hover {
    transform: scale(1.2);
}

.background_div_menù {
    background-color: #FFFFDD;
    border: 1px solid #DDDDBB;
}

.alert-personalized {
    color: #9B731F;
    background-color: #FFF9BADD;
    border-color: #E6D67D;
}
